In [1]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder \
.master("local[2]") \
.appName("StringOperations") \
.config("spark.executor.memory","4g") \
.config("spark.driver.memory","2g") \
.getOrCreate()

In [55]:
simple_df = spark.read \
.option("header","True") \
.option("inferSchema","True") \
.option("sep",",") \
.csv("C:\\Users\\alican\\Desktop\\SparkData\\LastDirtyData.csv")

In [56]:
simple_df.show()

+------+---------+---+--------+-----------+-----------+-----------+--------------------+
|sirano|     isim|yas|cinsiyet|     meslek|      sehir|aylik_gelir|            mal_mulk|
+------+---------+---+--------+-----------+-----------+-----------+--------------------+
|     1|    Cemal| 35|       E|       Isci|     Ankara|     3500.0|               araba|
|     2|   ceyda | 42|       K|      Memur|    Kayseri|     4200.0|            araba|ev|
|     3|    Timur| 30|    null|    sarkici|Istanbul   |     9000.0|     araba|ev|yazlik|
|     4|   Burcu | 29|       K|Pazarlamaci|     Ankara|     4200.0|               araba|
|     5|  Yasemin| 23|       K|Pazarlamaci|      Bursa|     4800.0|               araba|
|     6|      Ali| 33|       E|      Memur|     Ankara|     4250.0|                  ev|
|     7|    Dilek| 29|       K|Pazarlamaci|   Istanbul|     7300.0|        araba|yazlik|
|     8|    Murat| 31|       E|    sarkici|   Istanbul|    12000.0|araba|ev|isyeri|y...|
|     9|    Ahmet| 33|       E|     Doktor|     Ankara|   180000.0|     araba|ev|yazlik|
|    10| Muhittin| 46|       E|     Berber|   Istanbul|    12000.0|     araba|ev|isyeri|
|    11| Hicaziye| 47|       K| Tuhafiyeci|       null|        4.8|              isyeri|
|    12|    Harun| 43|       E|    Tornaci|    Ankara |     4200.0|               araba|
|    13|    hakki| 33|       E|      memur|     Corum |     3750.0|                  ev|
|    14|    Gamze| 37|       K|     Doktor|      Izmir|    14250.0|               araba|
|    15|   Sehmuz| 41|       E|    sarkici|     Ankara|     8700.0|               araba|
+------+---------+---+--------+-----------+-----------+-----------+--------------------+

In [57]:
#We will download all of library for sql
from pyspark.sql.functions import *

In [ ]:
concat_df = simple_df \
.withColumn("meslek_sehir",concat(col("meslek"),col("sehir")))

In [62]:
concat_df.show(n=10,truncate=False)

+------+--------+---+--------+-----------+-----------+-----------+----------------------+---------------------+
|sirano|isim    |yas|cinsiyet|meslek     |sehir      |aylik_gelir|mal_mulk              |meslek_sehir         |
+------+--------+---+--------+-----------+-----------+-----------+----------------------+---------------------+
|1     |Cemal   |35 |E       |Isci       |Ankara     |3500.0     |araba                 |IsciAnkara           |
|2     |ceyda   |42 |K       |Memur      |Kayseri    |4200.0     |araba|ev              |MemurKayseri         |
|3     |Timur   |30 |null    |sarkici    |Istanbul   |9000.0     |araba|ev|yazlik       |sarkiciIstanbul      |
|4     |Burcu   |29 |K       |Pazarlamaci|    Ankara |4200.0     |araba                 |Pazarlamaci    Ankara|
|5     |Yasemin |23 |K       |Pazarlamaci|Bursa      |4800.0     |araba                 |PazarlamaciBursa     |
|6     | Ali    |33 |E       |Memur      |Ankara     |4250.0     |ev                    |MemurAnkara          |
|7     |Dilek   |29 |K       |Pazarlamaci|Istanbul   |7300.0     |araba|yazlik          |PazarlamaciIstanbul  |
|8     |Murat   |31 |E       |sarkici    |Istanbul   |12000.0    |araba|ev|isyeri|yazlik|sarkiciIstanbul      |
|9     |Ahmet   |33 |E       |Doktor     |Ankara     |180000.0   |araba|ev|yazlik       |DoktorAnkara         |
|10    |Muhittin|46 |E       |Berber     | Istanbul  |12000.0    |araba|ev|isyeri       |Berber Istanbul      |
+------+--------+---+--------+-----------+-----------+-----------+----------------------+---------------------+
only showing top 10 rows

In [65]:
# 1.CONCAT METHOD

In [63]:
concat_df = simple_df \
.withColumn("meslek_sehir",concat(col("meslek"),lit("-"),col("sehir")))

In [64]:
concat_df.show(n=10,truncate=False)

+------+--------+---+--------+-----------+-----------+-----------+----------------------+----------------------+
|sirano|isim    |yas|cinsiyet|meslek     |sehir      |aylik_gelir|mal_mulk              |meslek_sehir          |
+------+--------+---+--------+-----------+-----------+-----------+----------------------+----------------------+
|1     |Cemal   |35 |E       |Isci       |Ankara     |3500.0     |araba                 |Isci-Ankara           |
|2     |ceyda   |42 |K       |Memur      |Kayseri    |4200.0     |araba|ev              |Memur-Kayseri         |
|3     |Timur   |30 |null    |sarkici    |Istanbul   |9000.0     |araba|ev|yazlik       |sarkici-Istanbul      |
|4     |Burcu   |29 |K       |Pazarlamaci|    Ankara |4200.0     |araba                 |Pazarlamaci-    Ankara|
|5     |Yasemin |23 |K       |Pazarlamaci|Bursa      |4800.0     |araba                 |Pazarlamaci-Bursa     |
|6     | Ali    |33 |E       |Memur      |Ankara     |4250.0     |ev                    |Memur-Ankara          |
|7     |Dilek   |29 |K       |Pazarlamaci|Istanbul   |7300.0     |araba|yazlik          |Pazarlamaci-Istanbul  |
|8     |Murat   |31 |E       |sarkici    |Istanbul   |12000.0    |araba|ev|isyeri|yazlik|sarkici-Istanbul      |
|9     |Ahmet   |33 |E       |Doktor     |Ankara     |180000.0   |araba|ev|yazlik       |Doktor-Ankara         |
|10    |Muhittin|46 |E       |Berber     | Istanbul  |12000.0    |araba|ev|isyeri       |Berber- Istanbul      |
+------+--------+---+--------+-----------+-----------+-----------+----------------------+----------------------+
only showing top 10 rows

In [67]:
# 2.NUMBER FORMAT

In [69]:
 df_number_format=simple_df \
    .withColumn("Aylik Gelir",format_number(col("aylik_gelir"),3))
    
df_number_format.show(n=10,truncate=False)

+------+--------+---+--------+-----------+-----------+-----------+----------------------+-----------+
|sirano|isim    |yas|cinsiyet|meslek     |sehir      |aylik_gelir|mal_mulk              |Aylik Gelir|
+------+--------+---+--------+-----------+-----------+-----------+----------------------+-----------+
|1     |Cemal   |35 |E       |Isci       |Ankara     |3500.0     |araba                 |3,500.000  |
|2     |ceyda   |42 |K       |Memur      |Kayseri    |4200.0     |araba|ev              |4,200.000  |
|3     |Timur   |30 |null    |sarkici    |Istanbul   |9000.0     |araba|ev|yazlik       |9,000.000  |
|4     |Burcu   |29 |K       |Pazarlamaci|    Ankara |4200.0     |araba                 |4,200.000  |
|5     |Yasemin |23 |K       |Pazarlamaci|Bursa      |4800.0     |araba                 |4,800.000  |
|6     | Ali    |33 |E       |Memur      |Ankara     |4250.0     |ev                    |4,250.000  |
|7     |Dilek   |29 |K       |Pazarlamaci|Istanbul   |7300.0     |araba|yazlik          |7,300.000  |
|8     |Murat   |31 |E       |sarkici    |Istanbul   |12000.0    |araba|ev|isyeri|yazlik|12,000.000 |
|9     |Ahmet   |33 |E       |Doktor     |Ankara     |180000.0   |araba|ev|yazlik       |180,000.000|
|10    |Muhittin|46 |E       |Berber     | Istanbul  |12000.0    |araba|ev|isyeri       |12,000.000 |
+------+--------+---+--------+-----------+-----------+-----------+----------------------+-----------+
only showing top 10 rows

In [70]:
# 3.LOWER,INITCAP,LENGHT

In [72]:
# meslek küçük harf, isimlerin ilk harfi büyük, sehirlerin kelime uzunlukları

df_lower = simple_df \
.withColumn("New_Meslek", lower(col("meslek"))) \
.withColumn("New_Isim", initcap(col("isim"))) \
.withColumn("sehir_length", length(col("sehir")))

df_lower.show(n=5, truncate=False)

+------+-------+---+--------+-----------+-----------+-----------+---------------+-----------+--------+------------+
|sirano|isim   |yas|cinsiyet|meslek     |sehir      |aylik_gelir|mal_mulk       |New_Meslek |New_Isim|sehir_length|
+------+-------+---+--------+-----------+-----------+-----------+---------------+-----------+--------+------------+
|1     |Cemal  |35 |E       |Isci       |Ankara     |3500.0     |araba          |isci       |Cemal   |6           |
|2     |ceyda  |42 |K       |Memur      |Kayseri    |4200.0     |araba|ev       |memur      |Ceyda   |7           |
|3     |Timur  |30 |null    |sarkici    |Istanbul   |9000.0     |araba|ev|yazlik|sarkici    |Timur   |11          |
|4     |Burcu  |29 |K       |Pazarlamaci|    Ankara |4200.0     |araba          |pazarlamaci|Burcu   |10          |
|5     |Yasemin|23 |K       |Pazarlamaci|Bursa      |4800.0     |araba          |pazarlamaci|Yasemin |5           |
+------+-------+---+--------+-----------+-----------+-----------+---------------+-----------+--------+------------+
only showing top 5 rows

In [74]:
# 4.TRIM

In [75]:
df_trim = simple_df \
.withColumn("sehir_rtrim", rtrim(col("sehir"))) \
.withColumn("sehir_ltrim", ltrim(col("sehir"))) \
.withColumn("sehir_trim", trim(col("sehir")))

df_trim.show(n=5, truncate=False)

+------+-------+---+--------+-----------+-----------+-----------+---------------+-----------+-----------+----------+
|sirano|isim   |yas|cinsiyet|meslek     |sehir      |aylik_gelir|mal_mulk       |sehir_rtrim|sehir_ltrim|sehir_trim|
+------+-------+---+--------+-----------+-----------+-----------+---------------+-----------+-----------+----------+
|1     |Cemal  |35 |E       |Isci       |Ankara     |3500.0     |araba          |Ankara     |Ankara     |Ankara    |
|2     |ceyda  |42 |K       |Memur      |Kayseri    |4200.0     |araba|ev       |Kayseri    |Kayseri    |Kayseri   |
|3     |Timur  |30 |null    |sarkici    |Istanbul   |9000.0     |araba|ev|yazlik|Istanbul   |Istanbul   |Istanbul  |
|4     |Burcu  |29 |K       |Pazarlamaci|    Ankara |4200.0     |araba          |    Ankara |Ankara     |Ankara    |
|5     |Yasemin|23 |K       |Pazarlamaci|Bursa      |4800.0     |araba          |Bursa      |Bursa      |Bursa     |
+------+-------+---+--------+-----------+-----------+-----------+---------------+-----------+-----------+----------+
only showing top 5 rows

In [77]:
# 5.REPLACE , SPLIT

In [78]:
df_replace = simple_df \
.withColumn("sehir_ist", regexp_replace(col("sehir"), "Ist", "İST")) \
.withColumn("mal_mulk_split", split(col("mal_mulk"), "\\|")) \
.withColumn("mal_mulk_ilk_eleman", col("mal_mulk_split")[0])

df_replace.show(n=5, truncate=False)

+------+-------+---+--------+-----------+-----------+-----------+---------------+-----------+-------------------+-------------------+
|sirano|isim   |yas|cinsiyet|meslek     |sehir      |aylik_gelir|mal_mulk       |sehir_ist  |mal_mulk_split     |mal_mulk_ilk_eleman|
+------+-------+---+--------+-----------+-----------+-----------+---------------+-----------+-------------------+-------------------+
|1     |Cemal  |35 |E       |Isci       |Ankara     |3500.0     |araba          |Ankara     |[araba]            |araba              |
|2     |ceyda  |42 |K       |Memur      |Kayseri    |4200.0     |araba|ev       |Kayseri    |[araba, ev]        |araba              |
|3     |Timur  |30 |null    |sarkici    |Istanbul   |9000.0     |araba|ev|yazlik|İSTanbul   |[araba, ev, yazlik]|araba              |
|4     |Burcu  |29 |K       |Pazarlamaci|    Ankara |4200.0     |araba          |    Ankara |[araba]            |araba              |
|5     |Yasemin|23 |K       |Pazarlamaci|Bursa      |4800.0     |araba          |Bursa      |[araba]            |araba              |
+------+-------+---+--------+-----------+-----------+-----------+---------------+-----------+-------------------+-------------------+
only showing top 5 rows

In [79]:
df_replace.printSchema()

root
 |-- sirano: integer (nullable = true)
 |-- isim: string (nullable = true)
 |-- yas: integer (nullable = true)
 |-- cinsiyet: string (nullable = true)
 |-- meslek: string (nullable = true)
 |-- sehir: string (nullable = true)
 |-- aylik_gelir: double (nullable = true)
 |-- mal_mulk: string (nullable = true)
 |-- sehir_ist: string (nullable = true)
 |-- mal_mulk_split: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- mal_mulk_ilk_eleman: string (nullable = true)