In [40]:

import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder \
.master("local[4]") \
.appName("Dataset-Olusturmak") \
.config("spark.executor.memory","4g") \
.config("spark.driver.memory","2g") \
.getOrCreate()

In [46]:
retailDF = spark.read \
.option("header","True") \
.option("inferSchema","True") \
.csv("C:\\Users\\alican\\Desktop\\SparkData\\OnlineRetail.csv")

In [51]:
retailDF.cache()

DataFrame[InvoiceNo: string, StockCode: string, Description: string, Quantity: int, InvoiceDate: string, UnitPrice: double, CustomerID: int, Country: string]

In [47]:
retailDF.createOrReplaceTempView("table")

In [55]:
spark.sql("""

SELECT * FROM table 

""").show(10)

+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|   InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|12/1/2010 8:26|     2.55|     17850|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|12/1/2010 8:26|     2.75|     17850|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
|   536365|    22752|SET 7 BABUSHKA NE...|       2|12/1/2010 8:26|     7.65|     17850|United Kingdom|
|   536365|    21730|GLASS STAR FROSTE...|       6|12/1/2010 8:26|     4.25|     17850|United Kingdom|
|   536366|    22633|HAND WARMER UNION...|       6|12/1/2010 8:28|     1.85|     17850|United Kingdom|
|   536366|    22632|HAND WARMER RED P...|       6|12/1/2010 8:28|     1.85|     17850|United Kingdom|
|   536367|    84879|ASSORTED COLOUR B...|      32|12/1/2010 8:34|     1.69|     13047|United Kingdom|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
only showing top 10 rows

In [54]:
spark.sql("""

SELECT Country, SUM(UnitPrice) UnitPrice
FROM table 
GROUP BY Country
ORDER BY UnitPrice DESC

""").show(10)

+--------------+------------------+
|       Country|         UnitPrice|
+--------------+------------------+
|United Kingdom|2245715.4740001946|
|          EIRE|48447.190000000315|
|        France| 43031.98999999991|
|       Germany|37665.999999999956|
|     Singapore|          25108.89|
|      Portugal|13037.539999999992|
|         Spain|12633.449999999964|
|     Hong Kong|12241.499999999998|
|       Belgium| 7540.130000000002|
|   Switzerland| 6813.690000000005|
+--------------+------------------+
only showing top 10 rows