In [1]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder \
.master("local[4]") \
.appName("DataCleaning") \
.config("spark.executor.memory","4g") \
.config("spark.driver.memory","2g") \
.getOrCreate()

In [2]:
 # Reading Train

In [3]:
adult_train_df = spark.read \
.option("header","True") \
.option("inferSchema","True") \
.option("sep",",") \
.csv("C:\\Users\\alican\\Desktop\\BigData\\adult.data") \

In [4]:
# Reading Test

In [5]:
adult_test_df = spark.read \
.option("header","True") \
.option("inferSchema","True") \
.option("sep",",") \
.csv("C:\\Users\\alican\\Desktop\\BigData\\adult.test") \

**JOIN OF TRAIN AND TEST DATASET WITH UNION**

In [6]:
adult_whole_df = adult_train_df.union(adult_test_df)
adult_whole_df.limit(5).toPandas().head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,output
0,39,State-gov,77516.0,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50K
1,50,Self-emp-not-inc,83311.0,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,<=50K
2,38,Private,215646.0,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
3,53,Private,234721.0,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,United-States,<=50K
4,28,Private,338409.0,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,<=50K

**DATA CLEANING**

**-----1. Tum sutunlar icin bosluk kontrolunun yapılması-----**

In [7]:
from pyspark.sql.functions import *

In [8]:
adult_whole_df1 = adult_whole_df \
.withColumn("workclass", trim(col("workclass"))) \
.withColumn("education", trim(col("education"))) \
.withColumn("marital_status", trim(col("marital_status"))) \
.withColumn("occupation", trim(col("occupation"))) \
.withColumn("relationship", trim(col("relationship"))) \
.withColumn("race", trim(col("race"))) \
.withColumn("sex", trim(col("sex"))) \
.withColumn("native_country", trim(col("native_country"))) \
.withColumn("output", trim(col("output"))) \

In [9]:
adult_whole_df.count()

48842

In [10]:
adult_whole_df1.count()

48842

***Bosluk kontrolunu Trim() ile yaparken suna dikkat edelim Trim() string 'e ozel bir function oldugundan veritipi ancak String olan Column 'lara bu islemi uygulayabiliriz.**

**-----2. Output içerisindeki "." temizliği-----**

Her ne kadar taslak planda output temizliğini son madde olarak yazmış olsak da. İşin kolay olması ve diğer temizlik işlemlerini etkiliyor olması nedeniyle. Bu temizliği en başta yapalım.

// . içerenleri replace yapalım.

In [11]:
adult_whole_df2 = adult_whole_df1 \
.withColumn("output", regexp_replace(col("output"), "<=50K.","<=50K")) \
.withColumn("output", regexp_replace(col("output"), ">50K.",">50K"))

In [12]:
# Temizlik sonucunu görelim.
adult_whole_df2.groupBy(col("output")).agg({"*":"count"}) \
.toPandas().head()

  output  count(1)
0  <=50K     37155
1   >50K     11687

**-----3. Null Kontrolu-----**

// Her bir sütun için for dongüsü ile o sütunda filter() metodu ile null kontrolü yapalım ve bunları sayalım. Eğer o sütunda en az bir adet null varsa yani >0 ise o sütunda null olduğunu ekrana yazdıralım.

In [13]:
adult_whole_df2.columns

['age',
 'workclass',
 'fnlwgt',
 'education',
 'education_num',
 'marital_status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'capital_gain',
 'capital_loss',
 'hours_per_week',
 'native_country',
 'output']

In [14]:
sayac_for_null = 1
for sutun in adult_whole_df2.columns:
    if(adult_whole_df2.filter(col(sutun).isNull()).count() > 0 ):
        print(sayac_for_null, ". ", sutun, " içinde null var.")
    else:
        print(sayac_for_null, sutun)
    sayac_for_null += 1

1 age
2 workclass
3 fnlwgt
4 education
5 education_num
6 marital_status
7 occupation
8 relationship
9 race
10 sex
11 capital_gain
12 capital_loss
13 hours_per_week
14 native_country
15 output

// Herhangi bir null yok.

**-----4. "?" Kontrolu-----**

In [15]:
sayac_for_question = 1
for sutun in adult_whole_df2.columns:
    if(adult_whole_df2.filter(col(sutun).contains("?")).count() > 0 ):
        print(sayac_for_question, ". ", sutun, " içinde ? var.")
    else:
        print(sayac_for_question, sutun)
    sayac_for_question += 1

1 age
2 .  workclass  içinde ? var.
3 fnlwgt
4 education
5 education_num
6 marital_status
7 .  occupation  içinde ? var.
8 relationship
9 race
10 sex
11 capital_gain
12 capital_loss
13 hours_per_week
14 .  native_country  içinde ? var.
15 output

// workclass, occupation, native_country içinde ? var.

// Bunların hedef değişken output ile ilişkisini inceleyelim.

In [16]:

adult_whole_df2.select("workclass","occupation","native_country","output") \
.filter(
    col("workclass").contains("?") |
    col("occupation").contains("?") |
    col("native_country").contains("?")
    
) \
.groupBy("workclass","occupation","native_country","output").count() \
.orderBy(col("count").desc()) \
.toPandas().head(50)

           workclass         occupation      native_country output  count
0                  ?                  ?       United-States  <=50K   2284
1                  ?                  ?       United-States   >50K    246
2            Private      Other-service                   ?  <=50K    100
3            Private              Sales                   ?  <=50K     55
4            Private     Prof-specialty                   ?  <=50K     51
5            Private       Craft-repair                   ?  <=50K     48
6            Private     Prof-specialty                   ?   >50K     48
7                  ?                  ?              Mexico  <=50K     48
8            Private       Adm-clerical                   ?  <=50K     47
9            Private  Machine-op-inspct                   ?  <=50K     42
10                 ?                  ?                   ?  <=50K     40
11           Private    Exec-managerial                   ?  <=50K     37
12           Private   Transport-moving                   ?  <=50K     28
13           Private    Exec-managerial                   ?   >50K     24
14           Private  Handlers-cleaners                   ?  <=50K     21
15           Private       Craft-repair                   ?   >50K     18
16                 ?                  ?              Canada  <=50K     16
17           Private       Tech-support                   ?  <=50K     14
18  Self-emp-not-inc              Sales                   ?  <=50K     13
19                 ?                  ?             Germany  <=50K     13
20                 ?                  ?               South  <=50K     12
21         Local-gov     Prof-specialty                   ?  <=50K     11
22                 ?                  ?         Philippines  <=50K     11
23         State-gov     Prof-specialty                   ?  <=50K     11
24           Private    Priv-house-serv                   ?  <=50K     10
25      Never-worked                  ?       United-States  <=50K     10
26           Private       Adm-clerical                   ?   >50K     10
27           Private              Sales                   ?   >50K     10
28       Federal-gov     Prof-specialty                   ?   >50K     10
29  Self-emp-not-inc    Exec-managerial                   ?  <=50K      9
30                 ?                  ?         Puerto-Rico  <=50K      9
31      Self-emp-inc    Exec-managerial                   ?   >50K      9
32  Self-emp-not-inc       Craft-repair                   ?  <=50K      9
33                 ?                  ?               China  <=50K      9
34                 ?                  ?              Taiwan  <=50K      9
35           Private       Tech-support                   ?   >50K      8
36      Self-emp-inc    Exec-managerial                   ?  <=50K      8
37                 ?                  ?         El-Salvador  <=50K      8
38                 ?                  ?             England  <=50K      8
39      Self-emp-inc              Sales                   ?  <=50K      7
40  Self-emp-not-inc     Prof-specialty                   ?   >50K      7
41         State-gov     Prof-specialty                   ?   >50K      7
42      Self-emp-inc              Sales                   ?   >50K      6
43                 ?                  ?  Dominican-Republic  <=50K      6
44                 ?                  ?               Haiti  <=50K      6
45         Local-gov     Prof-specialty                   ?   >50K      6
46           Private    Farming-fishing                   ?  <=50K      6
47  Self-emp-not-inc     Prof-specialty                   ?  <=50K      6
48                 ?                  ?                   ?   >50K      6
49           Private      Other-service                   ?   >50K      6

// Soru işaretlerinin dağılımı ve hedef değişken ile ilgisi tesadüfi görünüyor. Bu durumda ? işareti içeren satırları veri setinden çıkaralım.

// "~" ile değildir anlamında kullanılmıştır.

In [17]:
adult_whole_df3 = adult_whole_df2 \
.filter(~(
    col("workclass").contains("?") |
    col("occupation").contains("?") |
    col("native_country").contains("?")
))

print(adult_whole_df2.count())
print(adult_whole_df3.count())

48842
45222

**-----5. Weak classes deleting-----**

// workclass niteliğinde never-worked ve without-pay sınıfları ve occupation niteliğinde Armed-Forces sınıfı çok az tekrarlanmış. Veri setinden çıkarılabilir.

In [18]:
adult_whole_df4 = adult_whole_df3 \
.filter(~(
    col("workclass").contains("never-worked") | col("workclass").contains("without-pay") | 
       col("occupation").contains("Armed-Forces") | col("native_country").contains("Holand-Netherlands")
))

print(adult_whole_df3.count())
print(adult_whole_df4.count())

45222
45207

**------6. Associating category related to education------**

// education niteliğindeki:

1st-4th, 5th-6th, 7th-8th: elementary-school

9th, 10th, 11th, 12th: high-school

Masters, Doctorate: high-education

Bachelors, Some-college: undergraduate

sınıfları yukarıdaki gibi birleştirilebilir.

**Buradaki amac aslında çok sayıda olan kategorileri daha ölçeklenebilir kategoriler formatı alında gruplamak**

**Uyarı: Aşağıdaki yöntem trim edilmemiş niteliklerde kullanılmamalıdır.**

In [19]:
adult_whole_df5 = adult_whole_df4.withColumn("education_merged", \
      when(col("education").isin("1st-4th","education","5th-6th","education","7th-8th"), "Elementary-School")
        .when(col("education").isin("9th","10th","11th","12th"), "High-School")
        .when(col("education").isin("Masters","Doctorate"), "Post-Graduate")
        .when(col("education").isin("Bachelors","Some-college"), "Under-Graduate")
        .otherwise(col("education")))
adult_whole_df5.select("education","education_merged").toPandas().head(20)

       education   education_merged
0      Bachelors     Under-Graduate
1      Bachelors     Under-Graduate
2        HS-grad            HS-grad
3           11th        High-School
4      Bachelors     Under-Graduate
5        Masters      Post-Graduate
6            9th        High-School
7        HS-grad            HS-grad
8        Masters      Post-Graduate
9      Bachelors     Under-Graduate
10  Some-college     Under-Graduate
11     Bachelors     Under-Graduate
12     Bachelors     Under-Graduate
13    Assoc-acdm         Assoc-acdm
14       7th-8th  Elementary-School
15       HS-grad            HS-grad
16       HS-grad            HS-grad
17          11th        High-School
18       Masters      Post-Graduate
19     Doctorate      Post-Graduate

In [20]:
adult_whole_df5.groupBy("education_merged").agg({"*":"count"}).toPandas().head(20)

    education_merged  count(1)
0         Assoc-acdm      1507
1          Assoc-voc      1959
2  Elementary-School      1494
3        High-School      4094
4            HS-grad     14778
5          Preschool        72
6      Post-Graduate      3056
7     Under-Graduate     17463
8        Prof-school       784

// Evet yeni bir sütun ekledik. education_merged. Daha sade.

**------7. Cleaning at Native_country Attribute------**

// native_country'de ? var ve Hollanda 1 kez tekrarlanmış.

// ? temizleme işini 4. aşamada hallettik.

// Burada sadece Hollandayı (Holand-Netherlands) çıkaralım.

In [21]:
adult_whole_df6 = adult_whole_df5.filter(~(col("native_country") == "Holand-Netherlands"))

In [22]:
print(adult_whole_df5.count())
print(adult_whole_df6.count())

45207
45207

**------8. "." Removing at Output------**

 // Bu temizliği 2. aşamada yapmıştık.

**-----9. Write Cleaned Data to Disc------**

// Sütun sırasını değiştirelim. education_merge'i education yanına alalım

In [23]:
Attribute_ordering = ["workclass", "education", "education_merged", "marital_status", "occupation", "relationship", "race",
     "sex", "native_country", "age", "fnlwgt", "education_num", "capital_gain", "capital_loss", "hours_per_week","output"]
adult_whole_df7 = adult_whole_df6.select(Attribute_ordering)

In [31]:
adult_whole_df7.toPandas().head(10000000)

,workclass,education,education_merged,marital_status,occupation,relationship,race,sex,native_country,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,output
0,State-gov,Bachelors,Under-Graduate,Never-married,Adm-clerical,Not-in-family,White,Male,United-States,39,77516.0,13.0,2174.0,0.0,40.0,<=50K
1,Self-emp-not-inc,Bachelors,Under-Graduate,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,50,83311.0,13.0,0.0,0.0,13.0,<=50K
2,Private,HS-grad,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States,38,215646.0,9.0,0.0,0.0,40.0,<=50K
3,Private,11th,High-School,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States,53,234721.0,7.0,0.0,0.0,40.0,<=50K
4,Private,Bachelors,Under-Graduate,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba,28,338409.0,13.0,0.0,0.0,40.0,<=50K
5,Private,Masters,Post-Graduate,Married-civ-spouse,Exec-managerial,Wife,White,Female,United-States,37,284582.0,14.0,0.0,0.0,40.0,<=50K
6,Private,9th,High-School,Married-spouse-absent,Other-service,Not-in-family,Black,Female,Jamaica,49,160187.0,5.0,0.0,0.0,16.0,<=50K
7,Self-emp-not-inc,HS-grad,HS-grad,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,52,209642.0,9.0,0.0,0.0,45.0,>50K
8,Private,Masters,Post-Graduate,Never-married,Prof-specialty,Not-in-family,White,Female,United-States,31,45781.0,14.0,14084.0,0.0,50.0,>50K
9,Private,Bachelors,Under-Graduate,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,42,159449.0,13.0,5178.0,0.0,40.0,>50K
10,Private,Some-college,Under-Graduate,Married-civ-spouse,Exec-managerial,Husband,Black,Male,United-States,37,280464.0,10.0,0.0,0.0,80.0,>50K
11,State-gov,Bachelors,Under-Graduate,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,India,30,141297.0,13.0,0.0,0.0,40.0,>50K
12,Private,Bachelors,Under-Graduate,Never-married,Adm-clerical,Own-child,White,Female,United-States,23,122272.0,13.0,0.0,0.0,30.0,<=50K
13,Private,Assoc-acdm,Assoc-acdm,Never-married,Sales,Not-in-family,Black,Male,United-States,32,205019.0,12.0,0.0,0.0,50.0,<=50K
14,Private,7th-8th,Elementary-School,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,Mexico,34,245487.0,4.0,0.0,0.0,45.0,<=50K
15,Self-emp-not-inc,HS-grad,HS-grad,Never-married,Farming-fishing,Own-child,White,Male,United-States,25,176756.0,9.0,0.0,0.0,35.0,<=50K
16,Private,HS-grad,HS-grad,Never-married,Machine-op-inspct,Unmarried,White,Male,United-States,32,186824.0,9.0,0.0,0.0,40.0,<=50K
17,Private,11th,High-School,Married-civ-spouse,Sales,Husband,White,Male,United-States,38,28887.0,7.0,0.0,0.0,50.0,<=50K
18,Self-emp-not-inc,Masters,Post-Graduate,Divorced,Exec-managerial,Unmarried,White,Female,United-States,43,292175.0,14.0,0.0,0.0,45.0,>50K
19,Private,Doctorate,Post-Graduate,Married-civ-spouse,Prof-specialty,Husband,White,Male,United-States,40,193524.0,16.0,0.0,0.0,60.0,>50K
20,Private,HS-grad,HS-grad,Separated,Other-service,Unmarried,Black,Female,United-States,54,302146.0,9.0,0.0,0.0,20.0,<=50K
21,Federal-gov,9th,High-School,Married-civ-spouse,Farming-fishing,Husband,Black,Male,United-States,35,76845.0,5.0,0.0,0.0,40.0,<=50K
22,Private,11th,High-School,Married-civ-spouse,Transport-moving,Husband,White,Male,United-States,43,117037.0,7.0,0.0,2042.0,40.0,<=50K
23,Private,HS-grad,HS-grad,Divorced,Tech-support,Unmarried,White,Female,United-States,59,109015.0,9.0,0.0,0.0,40.0,<=50K
24,Local-gov,Bachelors,Under-Graduate,Married-civ-spouse,Tech-support,Husband,White,Male,United-States,56,216851.0,13.0,0.0,0.0,40.0,>50K
25,Private,HS-grad,HS-grad,Never-married,Craft-repair,Own-child,White,Male,United-States,19,168294.0,9.0,0.0,0.0,40.0,<=50K
26,Private,HS-grad,HS-grad,Divorced,Exec-managerial,Not-in-family,White,Male,United-States,39,367260.0,9.0,0.0,0.0,80.0,<=50K
27,Private,HS-grad,HS-grad,Married-civ-spouse,Craft-repair,Husband,White,Male,United-States,49,193366.0,9.0,0.0,0.0,40.0,<=50K
28,Local-gov,Assoc-acdm,Assoc-acdm,Never-married,Protective-serv,Not-in-family,White,Male,United-States,23,190709.0,12.0,0.0,0.0,52.0,<=50K
29,Private,Some-college,Under-Graduate,Never-married,Sales,Own-child,Black,Male,United-States,20,266015.0,10.0,0.0,0.0,44.0,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45177,Private,HS-grad,HS-grad,Divorced,Machine-op-inspct,Not-in-family,Black,Male,United-States,25,242136.0,9.0,0.0,0.0,40.0,<=50K
45178,Private,HS-grad,HS-grad,Never-married,Machine-op-inspct,Not-in-family,White,Male,United-States,31,112115.0,9.0,0.0,0.0,40.0,<=50K
45179,Self-emp-inc,HS-grad,HS-grad,Married-civ-spouse,Exec-managerial,Husband,White,Male,Canada,49,77132.0,9.0,0.0,0.0,40.0,>50K
45180,Private,Assoc-voc,Assoc-voc,Married-civ-spouse,Prof-specialty,Husband,White,Male,United-States,60,117909.0,11.0,7688.0,0.0,40.0,>50K
45181,Private,Bachelors,Under-Graduate,Never-married,Tech-support,Not-in-family,White,Female,United-States,39,229647.0,13.0,0.0,1669.0,40.0,<=50K
45182,Private,Masters,Post-Graduate,Married-civ-spouse,Prof-specialty,Husband,White,Male,United-States,38,149347.0,14.0,0.0,0.0,50.0,>50K
45183,Local-gov,Masters,Post-Graduate,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,43,23157.0,14.0,0.0,1902.0,50.0,>50K
45184,Private,HS-grad,HS-grad,Never-married,Machine-op-inspct,Own-child,White,Male,United-States,23,93977.0,9.0,0.0,0.0,40.0,<=50K
45185,Self-emp-inc,Some-college,Under-Graduate,Divorced,Exec-managerial,Not-in-family,White,Female,United-States,73,159691.0,10.0,0.0,0.0,40.0,<=50K
45186,Private,Some-college,Under-Graduate,Married-civ-spouse,Protective-serv,Husband,White,Male,United-States,35,176967.0,10.0,0.0,0.0,40.0,<=50K
45187,Private,HS-grad,HS-grad,Widowed,Sales,Other-relative,White,Female,United-States,66,344436.0,9.0,0.0,0.0,8.0,<=50K
45188,Private,Some-college,Under-Graduate,Never-married,Sales,Not-in-family,White,Female,United-States,27,430340.0,10.0,0.0,0.0,45.0,<=50K
45189,Private,Prof-school,Prof-school,Married-civ-spouse,Prof-specialty,Husband,White,Male,United-States,40,202168.0,15.0,15024.0,0.0,55.0,>50K
45190,Private,HS-grad,HS-grad,Married-civ-spouse,Craft-repair,Husband,White,Male,United-States,51,82720.0,9.0,0.0,0.0,40.0,<=50K
45191,Private,Some-college,Under-Graduate,Never-married,Craft-repair,Own-child,White,Male,United-States,22,269623.0,10.0,0.0,0.0,40.0,<=50K
45192,Self-emp-not-inc,HS-grad,HS-grad,Widowed,Farming-fishing,Not-in-family,White,Male,United-States,64,136405.0,9.0,0.0,0.0,32.0,<=50K
45193,Private,HS-grad,HS-grad,Separated,Priv-house-serv,Not-in-family,White,Female,United-States,55,224655.0,9.0,0.0,0.0,32.0,<=50K
45194,Private,Assoc-voc,Assoc-voc,Never-married,Adm-clerical,Unmarried,Black,Female,United-States,38,247547.0,11.0,0.0,0.0,40.0,<=50K
45195,Private,Assoc-acdm,Assoc-acdm,Divorced,Prof-specialty,Not-in-family,White,Male,United-States,58,292710.0,12.0,0.0,0.0,36.0,<=50K
45196,Private,HS-grad,HS-grad,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,United-States,32,173449.0,9.0,0.0,0.0,40.0,<=50K
45197,Private,HS-grad,HS-grad,Married-civ-spouse,Adm-clerical,Husband,White,Male,United-States,48,285570.0,9.0,0.0,0.0,40.0,<=50K
45198,Private,HS-grad,HS-grad,Married-civ-spouse,Sales,Husband,White,Male,United-States,61,89686.0,9.0,0.0,0.0,48.0,<=50K
45199,Private,HS-grad,HS-grad,Married-civ-spouse,Craft-repair,Husband,White,Male,United-States,31,440129.0,9.0,0.0,0.0,40.0,<=50K
45200,Private,HS-grad,HS-grad,Never-married,Other-service,Own-child,White,Female,United-States,25,350977.0,9.0,0.0,0.0,40.0,<=50K
45201,Local-gov,Masters,Post-Graduate,Divorced,Other-service,Not-in-family,White,Male,United-States,48,349230.0,14.0,0.0,0.0,40.0,<=50K
45202,Private,Bachelors,Under-Graduate,Never-married,Prof-specialty,Own-child,White,Male,United-States,33,245211.0,13.0,0.0,0.0,40.0,<=50K
45203,Private,Bachelors,Under-Graduate,Divorced,Prof-specialty,Not-in-family,White,Female,United-States,39,215419.0,13.0,0.0,0.0,36.0,<=50K
45204,Private,Bachelors,Under-Graduate,Married-civ-spouse,Prof-specialty,Husband,White,Male,United-States,38,374983.0,13.0,0.0,0.0,50.0,<=50K
45205,Private,Bachelors,Under-Graduate,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,United-States,44,83891.0,13.0,5455.0,0.0,40.0,<=50K
45206,Self-emp-inc,Bachelors,Under-Graduate,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,35,182148.0,13.0,0.0,0.0,60.0,>50K

In [47]:
adult_whole_df7 \
.coalesce(1) \
.write \
.mode("overwrite") \
.option("sep",",") \
.option("header","true") \
.csv("D:\\Datasets\\files")

Py4JJavaError: An error occurred while calling o994.csv.
: org.apache.spark.SparkException: Job aborted.
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.write(FileFormatWriter.scala:198)
	at org.apache.spark.sql.execution.datasources.InsertIntoHadoopFsRelationCommand.run(InsertIntoHadoopFsRelationCommand.scala:159)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult$lzycompute(commands.scala:104)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult(commands.scala:102)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.doExecute(commands.scala:122)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:131)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:127)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$executeQuery$1.apply(SparkPlan.scala:155)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:152)
	at org.apache.spark.sql.execution.SparkPlan.execute(SparkPlan.scala:127)
	at org.apache.spark.sql.execution.QueryExecution.toRdd$lzycompute(QueryExecution.scala:80)
	at org.apache.spark.sql.execution.QueryExecution.toRdd(QueryExecution.scala:80)
	at org.apache.spark.sql.DataFrameWriter$$anonfun$runCommand$1.apply(DataFrameWriter.scala:676)
	at org.apache.spark.sql.DataFrameWriter$$anonfun$runCommand$1.apply(DataFrameWriter.scala:676)
	at org.apache.spark.sql.execution.SQLExecution$$anonfun$withNewExecutionId$1.apply(SQLExecution.scala:78)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:73)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:676)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:285)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:271)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:229)
	at org.apache.spark.sql.DataFrameWriter.csv(DataFrameWriter.scala:664)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)
Caused by: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 110.0 failed 1 times, most recent failure: Lost task 0.0 in stage 110.0 (TID 981, localhost, executor driver): java.io.IOException: (null) entry in command string: null chmod 0644 D:\Datasets\files\_temporary\0\_temporary\attempt_20190822093110_0110_m_000000_981\part-00000-37728b24-7c1b-4f5e-abf9-4efa33190f6c-c000.csv
	at org.apache.hadoop.util.Shell$ShellCommandExecutor.execute(Shell.java:770)
	at org.apache.hadoop.util.Shell.execCommand(Shell.java:866)
	at org.apache.hadoop.util.Shell.execCommand(Shell.java:849)
	at org.apache.hadoop.fs.RawLocalFileSystem.setPermission(RawLocalFileSystem.java:733)
	at org.apache.hadoop.fs.RawLocalFileSystem$LocalFSFileOutputStream.<init>(RawLocalFileSystem.java:225)
	at org.apache.hadoop.fs.RawLocalFileSystem$LocalFSFileOutputStream.<init>(RawLocalFileSystem.java:209)
	at org.apache.hadoop.fs.RawLocalFileSystem.createOutputStreamWithMode(RawLocalFileSystem.java:307)
	at org.apache.hadoop.fs.RawLocalFileSystem.create(RawLocalFileSystem.java:296)
	at org.apache.hadoop.fs.RawLocalFileSystem.create(RawLocalFileSystem.java:328)
	at org.apache.hadoop.fs.ChecksumFileSystem$ChecksumFSOutputSummer.<init>(ChecksumFileSystem.java:398)
	at org.apache.hadoop.fs.ChecksumFileSystem.create(ChecksumFileSystem.java:461)
	at org.apache.hadoop.fs.ChecksumFileSystem.create(ChecksumFileSystem.java:440)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:911)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:892)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:789)
	at org.apache.spark.sql.execution.datasources.CodecStreams$.createOutputStream(CodecStreams.scala:81)
	at org.apache.spark.sql.execution.datasources.CodecStreams$.createOutputStreamWriter(CodecStreams.scala:92)
	at org.apache.spark.sql.execution.datasources.csv.CsvOutputWriter.<init>(CSVFileFormat.scala:177)
	at org.apache.spark.sql.execution.datasources.csv.CSVFileFormat$$anon$1.newInstance(CSVFileFormat.scala:85)
	at org.apache.spark.sql.execution.datasources.SingleDirectoryDataWriter.newOutputWriter(FileFormatDataWriter.scala:120)
	at org.apache.spark.sql.execution.datasources.SingleDirectoryDataWriter.<init>(FileFormatDataWriter.scala:108)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.org$apache$spark$sql$execution$datasources$FileFormatWriter$$executeTask(FileFormatWriter.scala:236)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$$anonfun$write$1.apply(FileFormatWriter.scala:170)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$$anonfun$write$1.apply(FileFormatWriter.scala:169)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:121)
	at org.apache.spark.executor.Executor$TaskRunner$$anonfun$10.apply(Executor.scala:408)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1360)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:414)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAGScheduler$$failJobAndIndependentStages(DAGScheduler.scala:1889)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1877)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1876)
	at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:1876)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:926)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:926)
	at scala.Option.foreach(Option.scala:257)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:926)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2110)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2059)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2048)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:737)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2061)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.write(FileFormatWriter.scala:167)
	... 33 more
Caused by: java.io.IOException: (null) entry in command string: null chmod 0644 D:\Datasets\files\_temporary\0\_temporary\attempt_20190822093110_0110_m_000000_981\part-00000-37728b24-7c1b-4f5e-abf9-4efa33190f6c-c000.csv
	at org.apache.hadoop.util.Shell$ShellCommandExecutor.execute(Shell.java:770)
	at org.apache.hadoop.util.Shell.execCommand(Shell.java:866)
	at org.apache.hadoop.util.Shell.execCommand(Shell.java:849)
	at org.apache.hadoop.fs.RawLocalFileSystem.setPermission(RawLocalFileSystem.java:733)
	at org.apache.hadoop.fs.RawLocalFileSystem$LocalFSFileOutputStream.<init>(RawLocalFileSystem.java:225)
	at org.apache.hadoop.fs.RawLocalFileSystem$LocalFSFileOutputStream.<init>(RawLocalFileSystem.java:209)
	at org.apache.hadoop.fs.RawLocalFileSystem.createOutputStreamWithMode(RawLocalFileSystem.java:307)
	at org.apache.hadoop.fs.RawLocalFileSystem.create(RawLocalFileSystem.java:296)
	at org.apache.hadoop.fs.RawLocalFileSystem.create(RawLocalFileSystem.java:328)
	at org.apache.hadoop.fs.ChecksumFileSystem$ChecksumFSOutputSummer.<init>(ChecksumFileSystem.java:398)
	at org.apache.hadoop.fs.ChecksumFileSystem.create(ChecksumFileSystem.java:461)
	at org.apache.hadoop.fs.ChecksumFileSystem.create(ChecksumFileSystem.java:440)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:911)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:892)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:789)
	at org.apache.spark.sql.execution.datasources.CodecStreams$.createOutputStream(CodecStreams.scala:81)
	at org.apache.spark.sql.execution.datasources.CodecStreams$.createOutputStreamWriter(CodecStreams.scala:92)
	at org.apache.spark.sql.execution.datasources.csv.CsvOutputWriter.<init>(CSVFileFormat.scala:177)
	at org.apache.spark.sql.execution.datasources.csv.CSVFileFormat$$anon$1.newInstance(CSVFileFormat.scala:85)
	at org.apache.spark.sql.execution.datasources.SingleDirectoryDataWriter.newOutputWriter(FileFormatDataWriter.scala:120)
	at org.apache.spark.sql.execution.datasources.SingleDirectoryDataWriter.<init>(FileFormatDataWriter.scala:108)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.org$apache$spark$sql$execution$datasources$FileFormatWriter$$executeTask(FileFormatWriter.scala:236)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$$anonfun$write$1.apply(FileFormatWriter.scala:170)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$$anonfun$write$1.apply(FileFormatWriter.scala:169)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:121)
	at org.apache.spark.executor.Executor$TaskRunner$$anonfun$10.apply(Executor.scala:408)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1360)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:414)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	... 1 more